<main class="home-screen">
  <div class="home-content">
    <h1>Timelapse Stabilizer</h1>
    <p>Developed by Riddh Ramburuth using Ruby on Rails</p>
    <%= link_to "Enter", "/stabilize", class: "enter-button" %>
  </div>
</main>
